<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ post.title }}</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="post">
        <h1>{{ post.title }}</h1>
        <p>{{ post.context }}</p>
        <p>By: {{ post.username }}</p>

        {% if current_user.id == post.author_id %}
            <form method="POST"
            action="{{ url_for('delete_post', post_id=post.id) }}">
                <button type="submit">Delete</button><br>
                <a href="{{ url_for('comment_post', post_id=post.id) }}">Comment</a>
            </form>
        {% endif %}
    </div>
    <h2>Comments</h2>
        {% if comments %}
            {% for comment in comments %}
                <div class="comment">
                    <p>{{ comment.text }}</p>
                    <p>By: {{ comment.username }}</p>
                </div>
            {% endfor %}
        {% else %}
            <h2>Be the first to comment!</h2>
        {% endif %}
</body>
</html>