<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add comment</title>
    <link rel="stylesheet" href="/static/style.css">
    <style>
      form{
      text-align: center;
      width: 150px;
      }
    </style>
</head>
<body>
<h1>Add comment</h1>
    <form action="{{ url_for('comment_post', post_id=post_id) }}" method="POST">
      <label>Content:</label><br>
      <textarea rows="7" cols="16" name="text" required></textarea>
      <br>
      <button type="submit">send</button>
    </form>

</body>
</html>